[Desktop Entry]
Encoding=UTF-8
Name=Diamond
Comment=Diamond P2P Cryptocurrency
Comment[fr]=Diamond, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Diamond, eşten eşe kriptografik sanal para birimi
Exec=diamond-qt %u
Terminal=false
Type=Application
Icon=diamond128
MimeType=x-scheme-handler/diamond;
Categories=Office;Finance;
